# Terraform local state (Nguy hiểm nếu push lên git)
*.tfstate
*.tfstate.*

# Terraform configuration directory
.terraform/

# Sensitive vars files (Tùy chọn: Nếu file tfvars chứa mật khẩu thì bỏ comment dòng dưới)
# *.tfvars

# SSH Keys (Nguy hiểm)
*.pem

# Mac/Linux system files
.DS_Store